{% extends './assets/base.html' %}

{% block mainBlock %}
    <h1>Add Products</h1>

    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="image">Image</label>
            <input type="url" id="image" name="image" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="price">Price</label>
            <input type="number" name="price" id="price" class="form-control" min="0" required>
        </div>
    </form>
{% endblock %}