{% extends './assets/base.html' %}

{% block mainBlock %}

    <h1 class="text-center">Join Us</h1>

    <form method="post">
        {% csrf_token %}

        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" id="name" name="name" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="role" class="form-label">Role</label>
            <input type="text" id="role" name="role" class="form-control" required>
        </div>

    </form>
{% endblock %}