{% load static %}
<link href="{% static 'css/custom.css' %}" rel="stylesheet">

<nav class="navbar navbar-expand-lg bg-black navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">My Favorites ✨</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

        <li class="nav-item mx-2">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>

        <li class="nav-item mx-2">
          <a class="nav-link" href="{% url 'about' %}">About</a>
        </li>

        <li class="nav-item mx-2">
          <a class="nav-link" href="{% url 'contact' %}">Contact</a>
        </li>

        <li class="nav-item mx-2">
          <a class="nav-link" href="{% url 'join_us' %}">Join Us</a>
        </li>

        <li class="nav-item mx-2">
          <a class="nav-link" href="{% url 'create_product' %}">Products</a>
        </li>

        <li class="nav-item mx-2">
          <a class="nav-link" href="{% url 'user_login' %}">Login</a>
        </li>

      </ul>
      <!-- <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
    </div>
  </div>
</nav>