
.carousel-img-container {
  position: relative;
  height: 400px; 
  overflow: hidden;
}

.carousel-img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.carousel-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); 
}

.active-page{
    background-color: rgba(255, 255, 255, 0.9);
    color: #000000 !important; /* Bootstrap primary */
    border-radius: .25rem;
    font-weight: 600;
    padding-left: .5rem;
    padding-right: .5rem;
}