{% extends './assets/base.html' %}

{% block mainBlock %}

    <h1>All Products</h1>
    <p>Total products: {{ count_products }} </p>

    <!-- Delete all button -->
    <form method="post" action="{% url 'delete_all_products' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete All Products</button>
    </form>
    <br>

    <!-- Display All Products -->
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for product in products %}
        <div class="card mx-3" style="width: 18rem;">
            <img src="{{ product.image }}" class="card-img-top" alt="{{ product.name }}" style="height: 200px; object-fit: contain;">
            <div class="card-body">
                <h4 class="card-title">{{ product.name }}</h4>
                <p>RM {{ product.price }}</p>
                <p class="card-text">{{ product.description }}</p>
                <a href="{% url 'edit_product' product.id %}" class="btn btn-dark">Edit</a>

                <!-- Delete Button -->
                <form method="post" action="{% url 'delete_product' product.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger mt-2">Delete</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>

    <br><br>
    <hr>

    <!-- Add New Product Form --> 
    <h1>Add Products</h1>

    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="image">Image</label>
            <input type="url" id="image" name="image" class="form-control" placeholder="Enter image URL" required>
        </div>

        <div class="mb-3">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="price">Price (RM)</label>
            <input type="number" name="price" id="price" class="form-control" min="0" required>
        </div>

        <div class="mb-3">
            <label for="description">Description</label>
            <textarea name="description" id="description" class="form-control"></textarea>
        </div>

        <button type="submit" class="btn btn-dark">Submit</button>
    </form>

{% endblock %}