{% extends './assets/base.html' %}
{% load static %}

{% block mainblock %}

    <p>Last updated: {{last_update|date:"D, d M Y H:i"}}</p>
    <h2>Favourite Foods</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for food in foods%}
      <div class="col">
        <div class="card h-100">
          <img src="{{ food.image }}" class="card-img-top fixed-img" alt="{{ food.name }}">
          <div class="card-body">
            <h4 class="card-title">{{ food.name }}</h4>
            <p class="card-text">{{ food.description }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    
    <br>
    <div class="alert alert-info">
    This page uses Bootstrap and Django template!
    </div>

    <h2>Favourite Movies</h2>
    {% for movie in movies %}
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{{ movie.image }}" class="w-100 h-100 rounded-start" style="object-fit: cover;"  alt="{{movie.title}}">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><b>{{movie.title|upper}} ({{movie.year}})</b></h5>
            {% for genre in movie.get_genres %}
              <span class="badge rounded-pill text-bg-dark">{{ genre }}</span>
            {% endfor %}
            <br><br>
            <p class="card-text">{{movie.description}}</p>
            <p class="card-text"><strong>Director: </strong> {{movie.director}}</p>
            <p class="card-text"><strong>Rating: </strong>⭐️ {{movie.rating}}/10 

            {% if movie.rating > 4.0 %}
              <span class="badge rounded-pill text-bg-success">Highly Recommended</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

{% endblock%}