{% extends './assets/base.html' %}
{% load static %}

{% block mainblock %}

    <h2>Favourite Foods</h2>
    <div class="row row-cols-3 row-cols-md-3 g-4">
    {% for food in foods %}
      <div class="col">
        <div class="card">
          <img src="{% static 'img/'|add:food|add:'.jpg' %}" class="card-img-top" style="height:200px; object-fit:cover; width:100%;" alt="{{food}}">
          <div class="card-body">
            <h5 class="card-title">{{food}}</h5>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
    
    <br>
    <div class="alert alert-info">
    This page uses Bootstrap and Django template!
    </div>

    <h2>Favourite Movies</h2>
    {% for movie in movies %}
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{% static 'img/'|add:movie.title|add:'.jpg' %}" class="w-100 h-100 rounded-start" style="object-fit: cover;"  alt="{{movie.title}}">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><b>{{movie.title}} ({{movie.year}})</b></h5>
            {% for genre in movie.genre %}
              <span class="badge rounded-pill text-bg-dark">{{ genre }}</span>
            {% endfor %}
            <br><br>
            <p class="card-text">{{movie.description}}</p>
            <p class="card-text"><strong>Director: </strong> {{movie.director}}</p>
            <p class="card-text"><strong>Rating: </strong>⭐️ {{movie.rating}}/10 

            {% if movie.rating > 4.0 %}
              <span class="badge rounded-pill text-bg-success">Highly Recommended</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

{% endblock%}